a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.notWelcome{
  border-top: 1px solid #dee2e6 !important;
  height: 98px;
  margin-top: 90px;
}

.height-max{
  height: 100%;
}

.bottom-navbar-item{
  color: grey;
  margin: 0 5px;
  display: block;
}

.bottom-navbar-item:hover{
  color:white;
  text-decoration: none;
}

.bottom-navbar-item:hover img.hover-img{
  visibility:visible

    }
    
    img.hover-img{
      display: block;
      margin-top: 10px;
      visibility: hidden
    }

.bottom-header{
  display: inline-block;
  width: 100%;
}

.bottom-header-left-part{
  float: left;
}

.bottom-header-right-part{
  float: right;
}