@import '_fonts';
@import '_variables';
@import '_style';

@import '_label';

@import '_slick';

// Templates
@import '_posters';
@import '_newsSlider';

.main {
  // padding-top: 5.625rem;
  position: relative;

  .slickArrow {
    background: none;
    position: absolute;
    z-index: 100;
    bottom: calc(-13.5rem - 12.8125rem / 2 + 6.5rem / 2);
    height: 2.5rem;

    img {
      width: 1.5625rem;
    }

    &.slickPrev {
      transform: rotate(180deg);
      left: 27.1875rem;
    }

    &.slickNext {
      right: 27.1875rem;
    }
  }
}

.sliderMain-heading {
  position: relative;
  z-index: 2;
  padding-top: 5.625rem;
  padding-bottom: 17.6875rem;

  .slide {
    margin: 0 $three;
    opacity: .1;
    transition: .4;
    transform: scale(.95);

    h1.title {
      @include fontStyle (2.625rem, inherit, .05em, 700);
      margin: 0 0 $three 0;
      transition: .15s;
    }

    p.text {
      @include fontStyle (1.125rem, 2.375rem, .01em);
      margin: 0 0 $six 0;
    }

    .btn {
      padding: 1.1875rem $six 1.125rem $six;
    }

    .content {
      margin-left: calc(52.5rem - 2.875rem - 15rem / 2);
    }

    &.slick-current {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.sliderMain-content {
  position: relative;
  z-index: 1;
  margin-top: -51rem;
  margin-left: 0;

  .slide {
    .content {
      background: #111;
      // background-image: url('../img/photo2.png');
      position: relative;
      width: 39.375rem;
      // min-height: 50.5rem;
      // max-height: 50.5rem;
      // padding: 8.9375rem $four $six $four;
      // padding: $six $four;

      // &:before {
      //   content: '';
      //   width: 100%;
      //   height: $two;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   background: $red;
      // }

      .imgContainer {
        width: 45.9375rem;
        // height: 12.0625rem;
        height: 28.125rem;
        // margin-bottom: 3.125rem;
        background-size: cover;
        background-position: center;
      }

      p.text {
        @include fontStyle (1.125rem, 2.375rem, .01em);
        margin: 0 0 $four 0;
      }

      a.more {
        @include fontStyle (1.125rem, 1.125rem, .01em, 700);
        opacity: .5;
        text-decoration: underline;
      }
    }
  }
}

.sliderMain-nav {
  position: relative;
  z-index: 0;
  margin-top: -13.5rem;
  width: 76.875rem;
  margin: -13.5rem auto 0 auto;

  .slide {
    position: relative;
    height: 12.8125rem;

    &:before {
      content: '';
      width: 100%;
      height: .3125rem;
      position: absolute;
      top: 0;
      left: 0;
    }

    .imgContainer {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    &[data-green]:before {
      background-color: $green;
    }

    &[data-blue]:before {
      background-color: $blue;
    }

    &[data-red]:before {
      background-color: $red;
    }
  }
}

.section-live {
  background-position: center;
  height: 28.5rem;

  a.live-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .section-title {
    margin: $six 0 $two 0;
    display: inline-block;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.section-offer {
  margin-top: 25rem;

  position: relative;

  .container {
    display: flex;
    align-items: center;
  }

  .inner {
    width: 56.5625rem;
  }

  .section-title {
    margin-top: 6.25rem;
    margin-bottom: $six;
  }

  p.paragraph {
    @include fontStyle (1.125rem, 2.375rem, .01em);
    margin-top: 0;

    &:nth-child(2) {
      margin-bottom: $three;
    }

    &:nth-child(3) {
      margin-bottom: $six;
    }
  }

  .btn-primary {
    display: inline-block;
    padding: 1.1875rem $six 1.125rem $six;
    @include fontStyle (1.125rem, 1.125rem, .01em);
  }

  .img-col {
    width: 37.4375rem;
    position: absolute;
    right: 0;
  }
}

.section-offer1 {
  position: relative;

  .container {
    display: flex;
    align-items: center;
  }

  .inner {
    width: 56.5625rem;
    margin-left: auto;
  }

  .section-title {
    margin-bottom: $six;
  }

  p.paragraph {
    @include fontStyle (1.125rem, 2.375rem, .01em);
    margin-top: 0;

    &:nth-child(2) {
      margin-bottom: $three;
    }

    &:nth-child(3) {
      margin-bottom: $six;
    }
  }

  .btn-primary {
    display: inline-block;
    padding: 1.1875rem $six 1.125rem $six;
    @include fontStyle (1.125rem, 1.125rem, .01em);
  }

  .img-col {
    width: 37.4375rem;
    position: absolute;
    left: 0;
  }
}

.welcome{
  text-align: center;
  h1{
    font-family: 'Optima', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 48px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
margin: 90px 0 40px 0;
  }
  h2{
    font-family: 'Optima';
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 48px;

/* or 171% */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 60px;
  }
  .welcome-content{
    font-family: 'Optima Cyr';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 38px;
text-align: left;

/* or 211% */
letter-spacing: 0.05em;

color: #FFFFFF;
width: 1227px;
  }
  button{
    margin: 90px 0 120px 0;
    width: 223px;
height: 55px;
background: radial-gradient(180.91% 1388.43% at 100% 7.27%, #770D37 0%, #211452 100%);
font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;

/* identical to box height, or 100% */
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;
  }
}

.border-bottom-opacity{
  border-bottom:1px solid rgba(#fff, .5);
}

.main-menu-header{
  margin-bottom: 90px;
}

.vote-button{
  margin: 0px 5px;
height: 30px;
width: 110px;
background: rgba(250, 250, 250, 0.25) none repeat scroll 0% 0%;
color: white;
font-size: 10px;
font-weight: bold;

}

.show-nomination-container{

  width: 1230px;
display: table;
background-color: white;
padding: 45px 55px 45px 80px;
margin: 30px 0px 10px;

.show-nomination-panel{

  display: flex;
margin: 15px 20px;
width: 505px;
float: left;

  .show-nomination{

    float: left;
width: 475px;
opacity: 1;
height: 55px;
background-color: rgb(119, 13, 55);
border-radius: 5px;
padding: 12px 0 10px 20px;

    .show-nomination-title{
      

font-family: Optima;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 14px;
letter-spacing: 0.05em;

    }


    .show-nomination-name{

      font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.05em;
color: #FFFFFF;
opacity: 0.5;
border-radius: 5px;
margin-top: 7px;

    }
  }
  .show-nomination-score{
    width: 30px;
height: 45px;
display: block;
float: left;

border-radius: 5px;
text-align: center;
font-family: Optima;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.05em;
color: #333333;
padding-top: 14px;
  }
  .visible{
    visibility: visible;
  }

  .hidden{
    visibility: hidden;
  }
  .score1{
    background: linear-gradient(138.95deg, #BBA151 -28.75%, #F4DE9D 60.24%, #E3C877 76.72%);
  }
  .score2{
    background: linear-gradient(138.95deg, #DCDCDC -28.75%, #B2B0AA 60.24%, #6F6E6B 76.72%);
  }
  .score3{
    background: linear-gradient(138.95deg, #FFFFFF -28.75%, #F3B378 45.77%, #DF8D2D 76.72%);
  }
}

}

.show-nomination-main-title{
  font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 34px;
color: rgb(255, 255, 255);
margin-bottom: 30px;
}

.estimate-btn-container{
  width:1230px; 
  height:200px; 
  background-color:grey; 
  padding:50px 105px 40px 105px;
  margin: 30px 0;

  .estimate-btn{
    width: 70px;
    height: 55px;
    margin: 20px 10px;
    color: black;
  }
  
}

.estimate-note{
  opacity: 0.25;
font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
width: 1230px;
}

.container {
  max-width: 1230px;
}

.nomination-title{
  margin: 40px 0px 16px;
  font-family: Optima Cyr;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color: #FFFFFF;
}

.nomination-description{
  font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
opacity: 0.25;
  
}

.file-message{
  font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

/* or 162% */
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;

opacity: 0.25;
width: 282px;
display: inline-block;
margin: 30px 0;
}

.hist-container{
  .hist-title{
    margin: 60px 0 46px;
font-family: Optima;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 48px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;

  }
  .hist-nom-container{

    margin: 30px 0;
border-bottom: 2px solid white;
width: 1230px;
height: 300px;
    .hist-nom-title{
      font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
letter-spacing: 0.01em;
color: #FFFFFF;

    }
    .hist-show-container{

      padding: 25px 41px;
      display: grid;
    .hist-nom-panel{
      display: inline-flex;
      margin: 15px 0;
      .score1{
        background: linear-gradient(138.95deg, #BBA151 -28.75%, #F4DE9D 60.24%, #E3C877 76.72%);
      }
      .score2{
        background: linear-gradient(138.95deg, #DCDCDC -28.75%, #B2B0AA 60.24%, #6F6E6B 76.72%);
      }
      .score3{
        background: linear-gradient(138.95deg, #FFFFFF -28.75%, #F3B378 45.77%, #DF8D2D 76.72%);
      }
      .hist-nom-score{

        
        height: 45px;
width: 29px;
text-align: center;
padding-top: 13px;
margin-right: 20px;
padding-left: 2px;
font-family: Optima;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.05em;
color: #333333;

border-radius: 5px;

      }
      .hist-show-panel{
        .hist-show-name{
          font-family: Optima;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 14px;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #FFFFFF;
margin: 5px 0 15px;

        }
        .hist-show-memb{
          font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.05em;
color: #FFFFFF;
opacity: 0.5;

        }
      }
    }
  }
  
  
  }
  .hist-send{
    background: radial-gradient(180.91% 1388.43% at 100% 7.27%, #770D37 0%, #211452 100%);
    margin: 90px 0 120px;
    width: 1230px;
height: 55px;
  }
}

table.borderless{
  border: none;
  width: 100%;
  td:last-child{
    border: none;
    font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

/* identical to box height, or 129% */

color: #FFFFFF;

  }
  td{
    border: none;
    font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

/* identical to box height, or 129% */
letter-spacing: 0.05em;

color: #333333;
    
  }
  th{
    border: none;
    font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

/* identical to box height, or 129% */

color: #FFFFFF;

  }
  tr{
    &.score-show-row{
      background: white;
font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.05em;
color: #333;
padding: 8px 17px;
    }
    &.spacer{
      height: 35px;
    }
    &.score-row{
      
      height: 34px;
    }
    border: none;
  }
}

div.score-show-row{
  background: white;
font-family: Optima Cyr;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.05em;
color: #333;
padding: 8px 17px;
text-align: left;
margin-bottom: 15px;
}

.modal-area{
  width: 810px;
height: 407px;
  position: absolute;
inset: 50% auto auto 50%;
border: 5px solid white;
background: white;
border-radius: 4px;
outline: currentcolor none medium;
padding: 50px;
margin-right: -50%;
transform: translate(-50%, -50%);

  .modal-container{
    display: grid;
padding: 20px;
background-color: white;
overflow-x: auto;
max-height: 500px;
    .modal-title{
  
      font-family: Optima;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 28px;
color: #111;
    }
    .modal-warn{
      width: 482px;
      margin: 30px 0 20px;
      font-family: Optima Cyr;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 34px;
      color: #111111;
      opacity: 0.5;
    }
    .modal-text{
      font-family: Optima Cyr;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 38px;
      color: #111111;
    }
    .modal-btn-container{
      margin-top: 30px;
      .modal-cancel-btn{
        margin-right: 30px;
        width: 185px;
        height: 55px;
        background: rgba(0, 0, 0, 0.25);
      color: #111;
        float: left;
      }
      .modal-ok-btn{
       
        height: 55px;
        width: 285px;
        height: 55px;
        left: 810px;
        top: 639px;
        background: rgba(0, 0, 0, 0.25);
        color: #111;
        float: left;
    }
    .modal-cancel-btn:hover{
      background: radial-gradient(180.91% 1388.43% at 100% 7.27%, #770D37 0%, #211452 100%);
      color: white;
    }
    .modal-ok-btn:hover{
      background: radial-gradient(180.91% 1388.43% at 100% 7.27%, #770D37 0%, #211452 100%);
      color: white;
  }
      }
    }
}
