@import '_fonts';
@import '_variables';
@import '_style';

@import '_label';

body {
  background: linear-gradient(90deg, rgba($blue, .25) 0%, rgba($red, .25) 100%);
}

.section-content {
  margin-top: 6rem;
  position: relative;
  z-index: 1;

  .container {
    display: flex;
  }

  aside.navigation {
    display: flex;
    flex-direction: column;
    width: 17.8125rem;
    margin-right: $three;
    padding-top: 6.75rem;

    button.btn {
      background: none;
      text-align: left;
      @include fontStyle (1.5rem, 2.125rem, .05em);
      border-bottom: 1px solid rgba(#fff, .25);
      padding-bottom: $three;
      padding-left: 1.25rem;
      padding-right: 1.25rem;

      span {
        transition: .1s;
        opacity: .25;
      }

      &:not(:first-child) {
        padding-top: $three;
      }

      &.active span {
        opacity: 1;
      }
    }
  }

  .nav-content {
    width: 57.1875rem;
    display: block;

    &.hidden {
      display: none;
    }

    .nav-content-title {
      @include fontStyle (2.625rem, 3rem, .05em, 700);
      margin-bottom: $six;
    }
  }

  .contacts h3 {
    text-align: left;
  }

  p.paragraph {
    @include fontStyle (1.125rem, 2.375rem, .01em);
    margin-top: 0;
    opacity: .5;

    &:not(:last-child) {
      margin-bottom: $six;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.p-bold {
      opacity: 1;
    }
  }

  h2,
  h3 {
    text-align: center;
    margin-top: 0;
  }

  h2.content-title {
    @include fontStyle (2rem, 2rem, .05em, 700);
    text-align: left;

    &:not(:last-child) {
      margin-bottom: $four;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3.content-subtitle {
    @include fontStyle (1.5rem, 1.5rem, .05em, 700);
    opacity: .5;

    &:not(:last-child) {
      margin-bottom: $three;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Special Title
  .documents h3.content-subtitle {
    text-align: left;
    opacity: 1;
    text-transform: none;
  }

  p.date {
    &:not(:first-child) {
      margin: $six 0 $two 2.6875rem;
    }

    &:first-child {
      margin: 0 0 $two 2.6875rem;
    }

    @include fontStyle (1.5rem, 1.5rem, .01em);
  }

  .poster {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.375rem $four;
    background: #222;
    transition: .4s;

    &:hover {
      background: #1a1a1a;
    }

    &:not(:last-child) {
      margin-bottom: $three;
    }

    // Add leftside BAND
    &.festival:before,
    &.ceremony:before,
    &.lab:before {
      content: '';
      height: 100%;
      width: .625rem;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.festival:before {
      background: $red;
    }

    &.ceremony:before {
      background: $blue;
    }

    &.lab:before {
      background: $green;
    }
  }

  .inner {
    width: 24.3125rem;
    margin-right: 3rem;
  }

  h3.poster-title {
    text-align: left;
    @include fontStyle (1.5rem, 1.5rem, .05em, 700);
    margin: 0 0 .9375rem 0;
  }

  p.artist-name {
    @include fontStyle (1rem, 1rem, .01em);
    opacity: .5;
    margin: 0;
  }

  p.time {
    @include fontStyle (1rem, 1rem, .01em);
    margin: 0 3rem 0 0;
    width: 3.5625rem;
  }

  p.location {
    @include fontStyle (1rem, 1rem, .01em);
    margin: 0 2rem 0 0;
    width: 13.6875rem;
  }

  p.age {
    justify-self: flex-end;
    margin: 0;
    width: 2rem;
  }

  ul.bulleted-list {
    @include fontStyle (1.125rem, 2.375rem, .01em);
    padding-left: $three;

    &:not(:last-child) {
      margin: 0 0 $six 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .gallery {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: $six;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .gallery1 img {
    width: 100%;
  }

  .gallery2 img {
    &:first-child {
      width: 30.9375rem;
    }

    &:last-child {
      width: calc(100% - 30.9375rem - 1.875rem);
    }

    height: 21.875rem;
  }

  .gallery3 img {
    width: calc(100% / 3 - 1.875rem * 2 / 3);
    height: 21.875rem;
  }

  // Special Gallery
  .documents .gallery2 img {
    width: calc(100% / 2 - 1.875rem / 2);
  }

  .documents .cards {
    display: flex;
    flex-flow: row wrap;

    a {
      display: inline-flex;
      padding: 1.25rem 2rem;
      margin-bottom: $two;
      background: #222;
      align-items: center;
      justify-content: center;
      @include fontStyle (.875rem, .875rem, 0.01em);

      img {
        margin-right: .75rem;
        width: .6875rem;
      }

      &:not(:last-child) {
        margin-right: $two;
      }

      &:not(:nth-last-child(4)):not(:nth-last-child(3)):not(:nth-last-child(2)):not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  .manage .cards {
    display: flex;
    flex-flow: row wrap;

    .card {
      width: calc(100% / 3 - (1.875rem * 2) / 3);

      img.portrait {
        width: 100%;
        margin-bottom: $three;
      }

      p.name {
        @include fontStyle (1.5rem, 1.875rem, .05em, 700);
        margin: 0 0 $two 0;
      }

      p.name,
      p.post {
        margin: 0 0 .5rem 0;
      }

      p.post {
        @include fontStyle (1.125rem, 1.875rem, .05em);
      }

      a.mail {
        @include fontStyle (1.125rem, 1.875rem, .05em);
        margin: 0;
        opacity: .25;
        text-decoration: underline;
      }

      &:not(:nth-child(3n)) {
        margin-right: $three;
      }

      &:not(:nth-last-child(3)):not(:nth-last-child(2)):not(:last-child) {
        margin-bottom: $four;
      }
    }
  }

  .partners .cards {
    display: flex;
    flex-flow: row wrap;
  }

  .partner {
    width: calc(100% / 3 - (1.875rem * 2) / 3);

    &:not(:nth-last-child(3)):not(:nth-last-child(2)):not(:last-child) {
      margin-bottom: 3.125rem;
    }

    &:not(:nth-child(3n)) {
      margin-right: 1.875rem;
    }

    img {
      margin-bottom: $six;
      height: 10rem
    }

    .partner-title {
      @include fontStyle (1.5rem, 1.5rem, 0);
      margin: 0 0 1.25rem 0;
      text-transform: none;
      text-align: left;
    }

    .partner-text {
      @include fontStyle (1rem, 1.625rem, 0);
      opacity: .25;
      margin: 0;
    }
  }
}