@import '_fonts';
@import '_variables';
@import '_style';

@import '_label';

body {
  background: linear-gradient(90deg, rgba($blue, .25) 0%, rgba($red, .25) 100%);
}

.section-projects {
  .section-title {
    text-align: center;
    margin-bottom: 3.75rem;
  }

  .filter {
    padding: $four 0;
    margin-bottom: $six;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    .tag {
      background: none;
      color: #fff;
      transition: .1s;
      @include fontStyle (1.125rem, 1.125rem, .05em);
      padding: 0;

      &:not(:last-child):not(:nth-child(5)) {
        margin-right: $four;
      }

      &:not(:nth-child(n + 6)) {
        margin-bottom: $three;
      }

      &:not(.tag-active) {
        opacity: .25;
      }
    }
  }

  .filter-result {
    margin-bottom: $six;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .project {
    width: calc((100% - 1.875rem) / 2);
    height: 28.125rem;
    position: relative;
    padding: 0 3.125rem $four 3.125rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    p,
    span {
      position: relative;
      z-index: 3;
      text-align: center;
    }

    p.location {
      @include fontStyle (1rem, 1.5rem, inherit);
      margin-top: 1.25rem;
      margin-left: auto;
      margin-right: auto;
      width: 9.4375rem;

      &:before {
        content: '';
        width: calc(100% + 3.125rem * 2);
        height: calc(100% + 1.25rem * 2);
        position: absolute;
        z-index: 1;
        top: -1.25rem;
        left: -3.125rem;
        background: linear-gradient(180deg, #222222 0%, #111111 100%);
      }
    }

    p.project-desc {
      @include fontStyle (.875rem, 2.125rem, .01em);
      margin: 0;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
    }

    &:not(:nth-last-child(2)):not(:last-child) {
      margin-bottom: $three;
    }
  }
}